*{
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 950px;
    padding: 20px;
    margin: auto;
    background-color: lightslategray;
}

.images{
    text-align: center;
    padding: 50px;
}

img{
    width: 20%;
    display: inline-block;
}