.nav{
    background-color: #6495ED;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    
}   

.nav img{
    height: 80px;
    padding: 10px;
}

.nav h1{
    
}

.nav ul{
    list-style-type: none;
    flex: 4;
    display: flex;
    justify-content: space-evenly;
}


.nav a{
    color: white;
    text-decoration: none;
}
